.meme {
  margin: 0 36px;
  position: relative;
  max-width: 478px;
  text-align: center;
}
.meme img {
  width: 100%;
  max-width: 478px;
  object-fit: contain;
}
.meme p {
  margin: 0%;
  position: absolute;
  font-family: Impact, sans-serif;
  font-size: 32px;
  line-height: 39px;
  color: #ffffff;
  -webkit-text-stroke: 2px #000000;
  width: 100%;
}
.meme p:first-of-type {
  top: 16px;
}
.meme p:last-of-type {
  bottom: 16px;
}
