.about-container {
  margin: 10px 35px;
}
.about-container > h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #f5f5f5;
  margin-top: 0;
  margin-bottom: 5px;
}
.about-container > p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  font-size: 10.24px;
  line-height: 15px;
  color: #dcdcdc;
  margin: 0;
}
